<%- layout('layouts/main') %>
<!-- Inicio-->
<div class="hero vh-100 d-flex align-items-center" id="inicio">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-4 text-white">Sweet Bite</h1>
                <h4 class="text-white my-3">Nuestra Mision: Ofrecer productos de la mejor calidad y al menor precio del área, para satisfacer las necesidades y gustos de nuestros clientes y así poder
                    ser mejores cada día. </h4>
            </div>
        </div>
    </div>
</div>

    <!--JS Bootstrap
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html> -->