<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!--Iconos     <link rel="stylesheet" href="/css/main.css"> <link rel="stylesheet" href="/css/style.css"> -->  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css" type="Text/css">
    <title>sweet Bite</title>
</head>
<body>
     <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg py-1 sticky-top navbar-dark bg-dark">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recomendaciones">Recomendaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#categorias">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contactanos</a>
                </li>        
            </ul>
            <ul class="navbar-nav ml-auto">
              <%if (user) { %> 
                <a class="btn btn-primary" href="/profile">Profile</a>
                <a class="btn btn-danger ms-lg-3" href="/logout">Salir</a>
              <% } else { %>
                <a class="btn btn-primary" href="/signin">Ingresar</a>
                <a class="btn btn-danger ms-lg-3" href="/signup">Registrarse</a> 
              <% } %>  
            </ul>
          </div>
        </div>
    </nav>
      
    <div class="container">
        <%if (signinMessage.length>0) {%>
          <div class="alert alert-danger"><%= signinMessage %></div>
        <% } %>
        <%if (signupMessage.length>0) {%>
          <div class="alert alert-danger"><%= signupMessage %></div>
        <% } %>
          
        <%- body %>
    </div>

 <!--INICIO-->
    <div class="hero vh-100 d-flex align-items-center" id="inicio">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h1 class="display-4 text-white">Sweet Bite</h1>
                    <h4 class="text-white my-3">Nuestra Mision: Ofrecer productos de la mejor calidad y al menor precio del área, para satisfacer las necesidades y gustos de nuestros clientes y así poder
                        ser mejores cada día. </h4>
                </div>
            </div>
        </div>
    </div>

    <!--Nosotros-->
    <section class="row w-100 py-0 bg-light " id="nosotros">
        <div class="col-lg-6 py-5 "><img class="nosotros " src="img/calidad.jpg " width="660 " alt=" "></div>
        <div class="col-lg-6 py-5 ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-10 offset-md-1 ">
                        <h1>La mejor Calidad en Productos</h1>
                        <h5 class="mt-4 mb-2 text-danger ">Nuestra Trayectoria de más de 50 años nos respalda. </h5>
                        <div class="nosotros d-flex mt-5 ">
                            <div class="iconbox me-4 ">
                                <i class='bx bxl-trip-advisor'></i>
                            </div>
                            <div>
                                <h5>Marcas</h5>
                                <p>Contamos con los Mejores Provedores de Productos.</p>
                            </div>
                        </div>
                        <div class="nosotros d-flex ">
                            <div class="iconbox me-2 ">
                                <i class='bx bx-hive'></i>
                            </div>
                            <div>
                                <h5>Atencion al Cliente</h5>
                                <p>Nuestros Clientes Siempre Quedan Satisfechos con Nuestros Productos y Precios.</p>
                            </div>
                        </div>
                        <div class="nosotros d-flex ">
                            <div class="iconbox me-2 ">
                                <i class='bx bx-cycling'></i>
                            </div>
                            <div>
                                <h5>Envios a Domicilio</h5>
                                <p> Llevamos tu Pedido hasta tu hogar, en tiempo y forma.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--RECOMENDACIONES-->
    <section id="recomendaciones" class="bg-ligth ">
        <div class="container-fluid ">
            <div class="row mb-5 ">
                <div class="col-md-8 mx-auto text-center ">
                    <h1 class="text-danger ">Recomendaciones</h1>
                    <h5>Los Mejores Sabores</h5>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-sm-4 ">
                    <div class="proyecto ">
                        <img src="img/mil_hojas.jpg " alt="Card image cap" style="height: 13.5rem;">
                        <div class="overlay ">
                            <div>
                                <h2 class="text-white ">Pastel de Mil Hojas</h2>
                                <h6 class="text-white ">Descripcion: Rebanadas de Pastel Seco ideal para un antojo.</h6>
                                <h4 class="text-white ">Precio $50</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 ">
                    <div class="proyecto ">
                        <img src="img/rec_6.jpg " alt="Card image cap" style="height: 13.5rem;">
                        <div class="overlay ">
                            <div>
                                <h2 class="text-white ">Pastel de Chocolate</h2>
                                <h6 class="text-white ">Descripcion: Rebanadas de Pastel de Chocolate ideal para un antojo..</h6>
                                <h4 class="text-white ">Precio $40</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 ">
                    <div class="proyecto ">
                        <img src="img/rec_7.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="overlay ">
                            <div>
                                <h2 class="text-white ">Variedad de Panes</h2>
                                <h6 class="text-white ">Descripcion: Deliciosa bariedad de Panes Decorados con Frutas Frescas</h6>
                                <h4 class="text-white ">Precio $35</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 ">
                    <div class="proyecto ">
                        <img src="img/rec_8.jpg " alt="Card image cap" style="height: 13.5rem;">
                        <div class="overlay ">
                            <div>
                                <h2 class="text-white ">Pastelillos</h2>
                                <h6 class="text-white ">Descripcion:Pastelillos de Chocolate y Fresa con Frutas Frescas.</h6>
                                <h4 class="text-white ">Precio $60</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 ">
                    <div class="proyecto ">
                        <img src="img/rec_9.png " alt="Card image cap" style="height: 13.5rem;">
                        <div class="overlay ">
                            <div>
                                <h2 class="text-white ">Pastel de Tres Chocolates</h2>
                                <h6 class="text-white ">Descripcion: Rebanada de Pastel de Tres Chocolates Cubierto con Cocolate Derretido. </h6>
                                <h4 class="text-white ">Precio $75</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 ">
                    <div class="proyecto ">
                        <img src="img/zarsamora.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="overlay ">
                            <div>
                                <h2 class="text-white ">Pay de Zarzamora</h2>
                                <h6 class="text-white ">Descripcion: Rebanada de Delicioso Pay de Queso con Jalea de Zarzamora. </h6>
                                <h4 class="text-white ">Precio $82</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section> 

    <!--CATEGORIAS-->
    <section id="categorias">
        <div class="container ">
            <div class="row mb-5 ">
                <div class="col-md-8 mx-auto text-xl-center ">
                    <h1 class="text-danger ">Categorias</h1>
                </div>
            </div>
            <div class="row g-4 ">
                <div class="col-lg-4 col-sm-6 ">
                    <div class="fiestas card-effect ">
                        <div>

                            <h5 class="mt-4 mb-2 text-info "> Pasteles</img>
                            </h5>
                            <hr>
                            <ul class="list-unstyled mb-4 ">
                                <li><i class='bx bxs-check-circle'></i></i>Chocolate</li>
                                <li><i class='bx bxs-check-circle'></i>Limon</li>
                                <li><i class='bx bxs-check-circle'></i>Tres Leches</li>
                                <li><i class='bx bxs-check-circle'></i>Nuez</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 ">
                    <div class="fiestas card-effect ">
                        <h5 class="mt-4 mb-2 text-info ">Pay</h5>
                        <hr>
                        <ul class="list-unstyled mb-4 ">
                            <li><i class='bx bxs-check-circle'></i>Pay de Queso</li>
                            <li><i class='bx bxs-check-circle'></i>Pay de Limon</li>
                            <li><i class='bx bxs-check-circle'></i>Pay de Zanahoria</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 ">
                    <div class="fiestas card-effect ">
                        <h5 class="mt-4 mb-2 text-info ">Gelatinas</h5>
                        <hr>
                        <ul class="list-unstyled mb-4 ">
                            <li><i class='bx bxs-check-circle'></i></i>Frutas Variadas</li>
                            <li><i class='bx bxs-check-circle'></i>Moras</li>
                            <li><i class='bx bxs-check-circle'></i>Fresas</li>
                            <li><i class='bx bxs-check-circle'></i>Frutos Rojos</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 ">
                    <div class="fiestas card-effect ">
                        <h5 class="mt-4 mb-2 text-info ">Flan</h5>
                        <hr>
                        <ul class="list-unstyled mb-4 ">
                            <li><i class='bx bxs-check-circle'></i></i>Vainilla</li>
                            <li><i class='bx bxs-check-circle'></i>Pasti Flan</li>
                            <li><i class='bx bxs-check-circle'></i>Chocolate</li>
                            <li><i class='bx bxs-check-circle'></i>Fresa</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 ">
                    <div class="fiestas card-effect ">
                        <h5 class="mt-4 mb-2 text-info ">Panes</h5>
                        <hr>
                        <ul class="list-unstyled mb-4 ">
                            <li><i class='bx bxs-check-circle'></i></i>Glaseados</li>
                            <li><i class='bx bxs-check-circle'></i>Cuernitos Rellenos</li>
                            <li><i class='bx bxs-check-circle'></i>Pay con Fresas</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 ">
                    <div class="fiestas card-effect ">
                        <h5 class="mt-4 mb-2 text-info ">Pastelillos</h5>
                        <hr>
                        <ul class="list-unstyled mb-4 ">
                            <li><i class='bx bxs-check-circle'></i></i>Chocolate</li>
                            <li><i class='bx bxs-check-circle'></i>Fresa</li>
                            <li><i class='bx bxs-check-circle'></i>Limon</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="productos">
        <div class="container-fluid">
            <div class="col-md-8 mx-auto text-xl-center ">
                <h1 class="text-danger ">Productos</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/rec_4.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pastel de Limon</h5>
                            <p class="card-text">Es un Pastel de Limon ideal para ocaciones especiales.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $350</b>
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/rec_10.jpg" width="600" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pastel de Nuez</h5>
                            <p class="card-text">Pastel de Nuez Decorado con Crema y Nueces Frescas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $420 </b></li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/pay_queso_moras.jpg" alt="Card image cap" style="height: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pay de Queso con Moras</h5>
                            <p class="card-text"> Pay de Queso decorado con jalea de Moras.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $430 </b></li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/gelatina-frutos-rojos.jpg" alt="Card image cap" style="height: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Gelatina de Frutos Rojos </h5>
                            <p class="card-text">Gelatina de Frutos Rojos como, fresas y frambuesas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $250 </b> 
                            </li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/rec_1.jpg" width="600" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pastel de Cafe</h5>
                            <p class="card-text">Pastel de Cafe Decorado con Crema de Chocolate.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $380 </b></li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/rec_5.jpg" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pastel de Tres Leches</h5>
                            <p class="card-text">Pastel de Tres Leches Decorado con Crema de Chantilli y Frutas Frescas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $390 </b></li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/gelatina_durazno.png" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Gelatina de Durazno</h5>
                            <p class="card-text">Gelatina de Durazno Decorada con Fresas Frescas.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $280 </b></li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-3 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="img/req_2.jpg" width="600" alt="Card image cap" style="height: 13.5rem;">
                        <div class="card-body">
                            <h5 class="card-title">Pay de Queso </h5>
                            <p class="card-text">Pay de Queso seco Decorado con Crema de Chantilli y Frutos Rojos.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b style="color:#0400ff">Precio $380 </b></li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bag-plus-fill"></i> Comprar</button>
                            <button type="button" class="btn btn-primary">
                            <i class="bi bi-bookmark-check-fill"></i> Apartar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Contacto-->

    <section class="row w-100 py-0 bg-light " id="contacto">
        <div class="col-lg-6 py-5 "><img class="contacto " src="img/contacto.jpeg" height="100% " width="100% " alt=" "></div>
        <div class="col-lg-6 py-5 ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-10 offset-md-1 ">
                        <h1>Nuestros contactos</h1>
                        <b><i class="bi bi-facebook "></i> Facebook </b>
                        <p>Sweet Bite</p>
                        <b><i class="bi bi-google "></i> Gmail</b>
                        <p>sweetbite@gmail.com</p>
                        <b> <i class="bi bi-whatsapp "></i> Whatsapp
                        </b>
                        <p>534-332-2431.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ " crossorigin="anonymous "></script>

</body>

</html>